
/* || General  Setup */
html,
body {
  margin: 0;
  padding: 0;
}

html {
  background-color: #ffd8c4;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans JP, serif";
}

@media screen and (max-width: 1000px) {
.one{
max-width: 100%
}
}

/* || Typography */

h1, h2 {
margin: 0;
padding: 0;
}

h1 {
  font-size: 2.5rem;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  color: white;
  text-align: center;
  text-shadow: -2px 2px brown;
}

h2 {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
}

/* || Header Layout */

.header {
  background: #804020;
  color: #ffffff;
  display: flex;
  flex wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  margin: 0;
  margin-bottom: 15px;
  padding: 15px;
}

.header img {
  display: flex;
  justify-content: space-around;
 
}

/* || Main Layout */

.container {
  max-width: 960px;
  min-height: 100%;
  display: flex;
 
  align-content: flex-start;
  margin-bottom: 150px;
  margin: 15px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex: 0 1 auto;
  margin: auto;
}

.one {

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-right: 15px;
  flex: 0 1 auto;
  width: inherit;
}

.one img {
  width: inherit;
  border-radius: 5px;
  border: solid 1px;
  border-color: coral;
  margin-bottom: 15px;
}

.one p {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  margin: 5px;
  padding: 10px;
  width: inherit;
  border-radius: 5px;
  flex: 0 1 auto;
  align-items: center;
}

.two {

  display: flex;
  flex-wrap: wrap;
  align-content: center;
  background: white;
  border-radius: 1px;
  border: dashed 2px;
  border-color: coral;
  padding: 15px;
  margin-bottom: 150px;
  border-radius: 5px;
  flex: 0 2 auto;
}

ol {
  display: flex;
  flex-wrap: wrap;
  list-style-type: decimal;
  margin: 0;
  margin-left: 20px;
}

.jobtitle {
  font-family: "Noto Sans JP", Sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1.5rem;
  margin-bottom: 2px;
  letter-spacing: 0.02rem;
}

.jobdesc {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1rem;
  text-align: left;
  font-size: 1rem;
}

.duty {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1rem;
  padding-bottom: 10px;
}

@media screen and (max-width:1000px) {
.container {
justify-content: center;
flex-direction: column;
}
}