/* || General  Setup */
html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffd8c4;
}

@media screen and (max-width: 1000px) {
  .one {
    max-width: 100%;
    display: flex;
    justify-content: row;
    padding: 15px;
    margin-bottom: 15px;
    justify-content: space-evenly;
  }
}

/* || Typography */

h1,
h2 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.5rem;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  color: white;
  text-shadow: -2px 2px brown;
}

h2 {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
}

/* || Header Layout */

.header {
  background: #804020;
  display: flex;
  flex wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  margin: 0;
  margin-bottom: 15px;
  padding: 15px;
  text-align: center;
}

.header img {
  display: flex;
  justify-content: space-between;
}

/* || Main Layout */

.container {
  max-width: 960px;
  min-height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: auto;
  margin-bottom: 150px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  flex: 0 1 auto;
  margin: auto;
}

.one {
  display: flex;
  flex-wrap: wrap;
}

.one img {
  height: 207px;
  width: 285px;
  border-radius: 4px;
  border: solid 1px;
  border-color: coral;
  flex: 0 1 auto;
  margin-right: 10px;
}

.one p {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  font-family: "Noto Sans JP";
  font-weight: 300;
  width: 280px;
  font-size: 1rem;
  padding: 5px;
  border-radius: 4px;
  flex: 0 1 auto;
}

.two {
  font-family: "Noto Sans JP";
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  background: white;
  border: dashed 2px;
  border-color: coral;
  padding: 15px;
  margin-bottom: 150px;
  border-radius: 4px;
  flex: 0 2 auto;
}

ol {
  display: flex;
  flex-wrap: wrap;
  list-style-type: decimal;
  margin: 0;
  margin-left: 20px;
}

.jobtitle {
  font-family: "Noto Sans JP", Sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1.5rem;
  margin-bottom: 2px;
  letter-spacing: 0.02rem;
}

.jobdesc {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1rem;
  text-align: left;
  font-size: 1rem;
}

.duty {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1rem;
  padding-bottom: 10px;
}

@media screen and (max-width: 1000px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
